html {
    font-family: monospace, sans-serif;
    text-align: center;
    background: rgb(0,35,149);
    background-image: linear-gradient(90deg, rgba(0,35,149,1) 0%, rgba(255,227,182,1) 0%, rgba(213,251,255,1) 100%);
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 90px;
    font-size: 50px;
    border: 0;
}

input:focus {
    outline:none;
}

li {
    text-align: right;
    font-size: 30px;
    list-style:none;
    margin: 0;
}

li:hover {
    text-decoration: line-through;
}
