html {
    font-family: monospace, sans-serif;
    text-align: center;
}

body {
    max-width: 700px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 90px;
    font-size: 50px;
    border: 0;
}

input:focus {
    outline:none;
}

li {
    text-align: right;
    font-size: 30px;
    list-style:none;
    margin: 0;
}

li:hover {
    text-decoration: line-through;
}
